* {
	margin: 0;
	padding: 0;
	border: 0;

}

body {
	background: #F5F5F5;


}


h1 {
	margin-bottom: 20px;
	letter-spacing: -1px: 
	font-size: 30px;
	color: #F5F5F5;
	padding: 170px;
	font-family: "Fresca", sans-serif;

}

h2 {
	font-size: 26px;
	text-align: center;
	padding-top: 40px;
}

h3 {
	font-size: 20px;
	padding-top: 2px;
}

h5 (
	background-color: #F5F5F5;
	)

p {
	font-size: 15px;
	line-height: 160%;
	padding: 8px;
	margin: 8px;
	text-indent: 2px;
	font-family: "Open Sans Condensed", sans-serif;
}

.logo {
	float: left;
	margin-top: 20px;
	margin-right: 2px;
	padding-left: 8px;
}

content {
	text-align: center;
	padding-top: 0px;
	margin-bottom: 30px;
} 

/*
*=navigation
*/

nav ul {
	float: right;
	padding: 25px 20px 0 0;
}

nav ul li {
	display: inline;
}

nav ul li a{
	text-decoration: none;
	padding-right: 20px;
	color: #b19ba4;
}

nav ul li a:hover{
	color: #C3D7DF;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: 
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}


header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 5px 0;

}


.banner {
	background: url(img/tab.jpg) no-repeat;
	margin: auto;
	width: 1400px;
	height: 500px;
	clear: both
}


article {
	width: 800px;
	padding-top: 20px;
	margin: auto;
}



footer{
	position: relative;
	top: 500px;
	
	width: 100%;
	text-align: center;
	height: 50px;
}